@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/Arial/arial.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia/georgia.ttf");
  font-weight: 400;
}   

$color-gradient: radial-gradient((100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%));
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$font-h1-logo_title: 400 32px 'Georgia', serif;
$font-h2-logo_subtitle: 400 13px 'Arial', sans-serif;

$content-width: 1280px;

$tablet-width: 768px;
$mobile-width: 320px;

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: $content-width; 
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  background-color: $color-light-xl;
  position: sticky;
  top: 0;
}

.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo-container {
    //  padding-top: 5px; 
    display: flex;
    //  flex-wrap: nowrap;
    flex-direction: column;
   // text-align: start;
    padding-right: 505px;
    //margin-top: -30px;
    color: $color-dark-l;
}

h1 a {
  //font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
  color: $color-dark-l;
  list-style: none;
  text-decoration: none;
}

.logo-subtitle {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height */
letter-spacing: 0.1em;
color: $color-dark-3xl;
padding-top: 8px;
}

.nav-list {
  display: flex;
}
.nav-link-active {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
  color: $color-dark-3xl;
  display: inline;
  border-bottom: 3px solid $color-primary;
  }
  
  
  .nav-item  {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  list-style: none;
  text-decoration: none;
  padding-left: 35px;
  /* identical to box height, or 24px */
   }
  
  
  li a {
  list-style: none;
  text-decoration: none;
  color: $color-dark-l;
  &:hover {
      color: $color-dark-3xl;
  }
  }

  h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
  }


     /* !SECTION OUR PETS */

     .ourpets-wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      padding-bottom: 100px;
      background: $color-light-l;
  }

  .heading-our-pets {
   display: flex;
  text-align: center;
  color: $color-dark-l;
  margin-right: 400px;
  margin-left: 400px;
  //margin-top: 80px;
  }

  span {
      display: block;
  }

  .cards-container {
      margin-top: 45px;
      display: flex;
      flex-wrap: wrap;
  }
 
  .card-container {
      display: flex;
      flex-direction: column;
      height: 435px;
      width: 270px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: $color-light-s;
      border-radius: 9px;
      cursor: pointer;
      &:hover {
       box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
       background-color: $color-light-xl;
       .button-learn-more {
                //  card-hover 
                background-color: $color-primary-light;
                border-color: $color-primary-light;
      }
      }
  }

  .card-1 {
    margin-right: 40px;
    margin-top: 15px;
  }
  .card-2 {
    margin-right: 40px;
    margin-top: 15px;
  }
  .card-3 {
    margin-right: 40px;
    margin-top: 15px;
  }
  .card-4 {
    margin-top: 15px;
  }
  .card-5 {
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .card-6 {
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .card-7 {
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .card-8 {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .card {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.pets-name {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: $color-dark-l;
padding-top: 30px;
padding-bottom: 30px;
  }

.button-learn-more {
  border: 2px solid $color-primary;
  box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;        
  background-color: $color-light-s;
  font-family: 'Georgia';        
  font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */
letter-spacing: 0.06em;
color: $color-dark-3xl;
outline: none; // убирает рамку по умолчанию у кнопок
cursor: pointer;
transition: 1s;
margin-bottom: 30px; // чтобы карточку удлинить снизу
  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
}
  }

.navigation {
  display: flex;
  margin-top: 45px;
  margin-left: 430px;
  margin-right: 430px;
}
  .button-arrow {
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    border: 2px solid;
    transition: 0.5s;
    border-style: none;
    // cursor: pointer; //удалила, чтобы левые были неинтерактивными
    }

.btn-arrow-left-2x {
border: 2px solid $color-dark-s;
margin-left: 0px;
//border-style: none;
// border: 2px solid $color-primary;
//   &:hover {
//     background-color: $color-primary;
//     border-color: $color-primary;   
// }
}
.btn-arrow-left-1x {  
border: 2px solid $color-dark-s;
//border-style: none;
}

.button-paginator-active  {
  width: 52px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    border: 2px solid;
    transition: 0.5s;
    border-style: none;
  border: 2px solid $color-primary;
  background-color: $color-primary;
  //cursor: not-allowed;
  // &:hover {
  //   background: $color-light-s;
  //   border-color: $color-primary;
  //   outline: none; 
  //   border-style: solid; 
// }
}

.btn-arrow-right-1x {
  border: 2px solid $color-primary;
  background: $color-light-s;
  cursor: pointer;
  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;  
    outline: none; 
    border-style: solid; 
}
}

.btn-arrow-right-2x {
  border: 2px solid $color-primary;
  background: $color-light-s;
  margin-right: 0px;
  cursor: pointer;
  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;  
    outline: none; 
    border-style: solid; 
}
}

/*! FOOTER */

.footer-wrapper {
  background: url(../../assets/img/noise_transparent@2x.png), 
  $color-gradient;
}

.footer-container {
  display: flex;
}

h4 { 
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  }

.contacts {
  //display: flex;
  //flex-direction: column;
  margin-top: 56px;
  margin-right: 160px;
  //text-align: center;
  color: $color-light-xl;
}

.title-contacts {
  display: flex;
}

.shelter-mail {
  display: flex;
}
.mail-icon {
  padding-top: 40px;   
  padding-right: 20px;
  color: $color-primary;
}

.mail {
display: block;
color: $color-primary;
text-decoration: none;
margin-top: 44px;
padding-right: 26px;  
} 

.shelter-phone {
  display: flex;  
}

.phone-icon {
  padding-top: 40px;   
  padding-right: 20px;
  color: $color-primary;
}

.phone {
  display: block;
  color: $color-primary;
  text-decoration: none;
  margin-top: 44px;
  margin-right: 38px;
}

.locations {
 // display: flex;
  margin-top: 56px;
  margin-right: 160px; 
 // text-align: center;
  color: $color-light-xl;
}

.title-locations {
  display: flex;
}

.shelter-location-1 {
  display: flex;
  margin-top: 34px;
}

.location-1 {
  display: block;
  color: $color-primary;
  text-decoration: none;
  margin-left: 10px;
}
.location-1-icon {
  //margin-right: 20px;
  margin-top: 5px;
}
.shelter-location-2 {
  display: flex;
  margin-top: 35px;
  margin-right: 31px;
}
.location-2 {
  display: block;
  color: $color-primary;
  text-decoration: none;
  margin-left: 20px;
}
.location-2-icon {
  //margin-right: 20px;
  margin-top: -5px;
}
.footer-puppy { 
   margin-top: 40px;
}