@font-face {
    font-family: 'Arial';
    src: url("../../../assets/fonts/arial.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Georgia';
    src: url("../../../assets/fonts/georgia.ttf");
    font-weight: 400;
}   

$color-gradient: radial-gradient((100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20);
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$font-h1-logo_title: 400 32px 'Georgia', serif;
$font-h2-logo_subtitle: 400 13px 'Arial', sans-serif;

$content-width: 1280px;
// $content-width2: 100vw;

$tablet-width: 768px;
$mobile-width: 320px;

* {
    box-sizing: border-box;
    margin: 0 auto;
    scroll-behavior: smooth;
  }
  
body {
    display: flex;
    flex-direction: column;
}

.wrapper-for-bg {
    background: url(../../../assets/img/noise_transparent@2x.png), $color-gradient;
    height: 908px;
}


// .start-screen {
//     //background: url(../../../assets/img/noise_transparent@2x.png), $color-gradient;
//     //padding-top: 120px; // для выравнивания фона между header и start-screen
// }

.start-screen-wrapper {
    display: flex;
    padding-top: 60px;
}

.start-screen-content{
    padding-top: 163px;
    padding-right: 42px;
   
}

.wrapper {
    width: $content-width; // 1200px 
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.header {
   // background: url(../../../assets/img/noise_transparent@2x.png), $color-gradient;
    //position: absolute; // убрала bg и добавила position: absolute; для выравнивания фона. 
    //добавила padding-left: 175px; в header и padding-top: 120px; в start-screen
    //padding: 60px 0 0 175px;
    padding: 60px 0 0 0;
}

.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    padding-right: 490px;
     //padding-right: auto;
}

h1 a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    // or 35px 
    letter-spacing: 0.06em;
    color: $color-primary;
    list-style: none;
    text-decoration: none;
}

.logo-subtitle {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.1em;
color: $color-light-xl;
padding-top: 8px;
}

.nav-list {
display: flex;
 }

.nav-link-about {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
// identical to box height, or 24px 
color: $color-light-s;
// text-decoration: underline;
display: inline; //делает нижнее подчеркивание
border-bottom: 3px solid $color-primary;
}

.nav-item  {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
list-style: none;
text-decoration: none;
padding-left: 35px;
// identical to box height, or 24px
}


li a {
list-style: none;
text-decoration: none;
color: $color-dark-s;
&:hover {
    color: $color-light-s;
}
}


h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    // or 57px
    color: $color-light-xl;
}

.heading-start-screen {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
// or 24px 
color: $color-dark-s;
padding-right: 150px;
}

.subheading-start-screen {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
// or 24px 
color: $color-dark-s;
padding-top: 42px;
}

.button-primary {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
// identical to box height, or 22px 
letter-spacing: 0.06em;
color: $color-dark-3xl;
width: 207px;
height: 52px;
// left: calc(50% - 207px/2 - 126.5px);
background: $color-primary;
border-color: $color-primary;
outline: none; // убирает рамку по умолчанию у кнопок
border-radius: 100px;
margin-top: 42px;
border-style: none; 
border-style: solid;
border-color: $color-primary;
cursor: pointer;
transition: 1s;
&:hover {
    background: $color-primary-light;
    border-color: $color-primary-light;
}
}

// .start-screen-puppy {
// background-image: url(../../../assets/img/start-screen-puppy@2x.png);
// width: 698px;
// height: 728px;
// // background-repeat: no-repeat;
// // background-position: center 0;
// }

.about-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 100px;
    // margin: 80px 0px 100px 0px;
    background: $color-light-xl;
}

.about-pets {
    width: 300px;
    height: 408px;
    margin-left: 175px;
    margin-right: 120px;
}

.content-pets {
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    //margin: 14px 175px 14px 120px;
    margin-right: 175px;
}

h3 {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
// or 45px 
letter-spacing: 0.06em;
}

.heading-about-pets {
padding-right: 60px;
color: $color-dark-l;
}

.subheading-pets1 {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
// or 24px 
color: $color-dark-xl;
padding-top: 25px;
}

.subheading-pets2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    // or 24px 
    color: $color-dark-xl;
    padding-top: 25px;
    }

    /* !SECTION OUR PETS */

    .ourpets-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 100px;
        background: $color-light-l;
    }

    .heading-our-pets {
     display: flex;
    text-align: center;
    color: $color-dark-l;
    margin-right: 400px;
    margin-left: 400px;
    //Здесь можно поставить max-width: 400: margin: 0 auto;
    }

    span {
        display: block;
    }

    .slider-container {
        margin-top: 60px;
        // margin-bottom: 60px;
        display: flex;

        .button-arrow-left {
        width: 52px;
        height: 52px;
        border: 2px solid $color-primary;
        box-sizing: border-box;
        border-radius: 100px;
        position: relative;
        top: 189px;
        right: 52px;
        color: $color-light-l;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-color: $color-primary-light;
            border-color: $color-primary-light;
        }
        }
        .button-arrow-right {
            width: 52px;
            height: 52px;
            border: 2px solid $color-primary;
            box-sizing: border-box;
            border-radius: 100px;
            position: relative;
            top: 189px;
            left: 53px;
            color: $color-light-l;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                background-color: $color-primary-light;
                border-color: $color-primary-light;
            }
            }
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-light-s;
        border-radius: 9px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
         box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
         background-color: $color-light-xl;
         .button-learn-more {
                  /* card-hover */
                  background-color: $color-primary-light;
                  border-color: $color-primary-light;
        }
        }
    }

    .card-1 {
        margin-right: 90px;
    }
    
   .card-2 {
       margin-right: 90px;
    }

    .card {
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
   
       .card-jennifer {
       // margin-right: 90px;
        position: relative; //для позиционирования стрелок
    }

.pets-name {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
// identical to box height 
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: $color-dark-l;
padding-top: 30px;
padding-bottom: 30px;
    }

.button-learn-more {
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    width: 187px;
    height: 52px;        
    background-color: $color-light-s;
    font-family: 'Georgia';        
    font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
// identical to box height, or 22px 
letter-spacing: 0.06em;
color: $color-dark-3xl;
outline: none; // убирает рамку по умолчанию у кнопок
cursor: pointer;
transition: 1s;
margin-bottom: 30px; // чтобы карточку удлинить снизу
    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
}
    }

    .button-get-to {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        // identical to box height, or 22px 
        letter-spacing: 0.06em;
        color: $color-dark-3xl;
        width: 261px;
        height: 52px;
        // left: calc(50% - 207px/2 - 126.5px);
         background: $color-primary;
        outline: none; // убирает рамку по умолчанию у кнопок
        border-radius: 100px;
        margin-top: 60px; 
        cursor: pointer;
        transition: 1s;
        border-style: none; // убирает рамку по умолчанию у кнопок
        border-color: $color-primary;
        &:hover {
            background-color: $color-primary-light;
            border-color: $color-primary-light;
            outline: none; 
            border-style: solid;
        }
        }

        .help-wrapper {
            background-color: $color-light-xl;
        }
        .heading-help {
    display: flex;
    text-align: center;
    margin-right: 445px;
    margin-left: 445px;
   margin-top: 80px;
   color: $color-dark-l;
            }

            .help-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                //max-width: 1026px;
                margin-left: 87px;
                margin-right: 87px;
               // padding-right: 120px;
            //    margin-top: 80px;
               margin-bottom: 100px;
            }

 .help-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   // max-width: 1026px;
    margin-top: 60px;
 }
.icon-2 {
    margin-left: 120px;
}
.icon-3 {
    margin-left: 120px;
}
.icon-4 {
    margin-left: 120px;
}
.icon-5 {
    margin-left: 117px; //неправильные размеры в макете
    // margin-left: 87px;
}
.icon-6 {
    margin-left: 84px;
    margin-top: 55px;
}
.icon-7 {
    margin-left: 120px;
    margin-top: 55px;
}
.icon-8 {
    margin-left: 120px;
    margin-top: 55px;
}
.icon-9 {
    margin-left: 117px; //неправильные размеры в макете
    margin-top: 55px;
    margin-right: 84px;
}
h4 { 
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
// identical to box height, or 23px 
letter-spacing: 0.06em;
}
.icon-name {
margin-top: 30px;
color: $color-dark-l;   
}



/* SECTION DONATION */
.donation-wrapper {
    background-color: $color-light-l ;
}
.donation-container {
    display: flex;
}

.donation-dog {
    margin: 89px 30px 110px 141px;  //неправильные размеры в макете
}

.heading-donation {
    margin-top: 80px;
    color: $color-dark-l;
}

h5 {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
// identical to box height, or 17px 
letter-spacing: 0.06em;
color: $color-dark-l;
}

.subheading-donation {
    margin-top: 18px; // 20px было по макету 
}

.button-donation {
display: flex;
width: 349px;
height: 43px;
background: $color-primary;
border-radius: 9px;
padding-top: 7px;
padding-left: 10px;
margin-top: 20px;
margin-right: 213px; 
border-style: none; 
border-style: solid;
border-color: $color-primary;
cursor: pointer;
transition: 1s;
&:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
}
}

.donation-description  {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    // or 150% 
    color: $color-dark-m;       
margin-top: 20px;   
margin-right: 182px; 
}


/*! FOOTER */

.footer-wrapper {
    background: url(../../../assets/img/noise_transparent@2x.png), $color-gradient;
}

.footer-container {
    display: flex;
   // margin-top: 40px;
}

.contacts {
    //display: flex;
    //flex-direction: column;
    margin-top: 56px;
    margin-right: 160px;
    //text-align: center;
    color: $color-light-xl;
}

.title-contacts {
    display: flex;
}

.shelter-mail {
    display: flex;
}
.mail-icon {
    padding-top: 40px;   
    padding-right: 20px;
    color: $color-primary;
}

.mail {
display: block;
color: $color-primary;
text-decoration: none;
margin-top: 44px;
padding-right: 26px;  
} 

.shelter-phone {
    display: flex;  
}

.phone-icon {
    padding-top: 40px;   
    padding-right: 20px;
    color: $color-primary;
}

.phone {
    display: block;
    color: $color-primary;
    text-decoration: none;
    margin-top: 44px;
    margin-right: 38px;
}


.locations {
   // display: flex;
    margin-top: 56px;
    margin-right: 160px; 
   // text-align: center;
    color: $color-light-xl;
}

.title-locations {
    display: flex;
}

.shelter-location-1 {
    display: flex;
    margin-top: 34px;
}

.location-1 {
    display: block;
    color: $color-primary;
    text-decoration: none;
    margin-left: 10px;
}
.location-1-icon {
    //margin-right: 20px;
    margin-top: 5px;
}
.shelter-location-2 {
    display: flex;
    margin-top: 35px;
    margin-right: 31px;
}
.location-2 {
    display: block;
    color: $color-primary;
    text-decoration: none;
    margin-left: 20px;
}
.location-2-icon {
    //margin-right: 20px;
    margin-top: -5px;
}
.footer-puppy { 
     margin-top: 40px;
}

/* MEDIA QUERIES*/

@import './media/mdq';

