// @media (min-width: 768px) and (max-width: 1279.9px) {
  @media (max-width: 768px) {
  .header {
   padding: 30px 0 0 0;
   }

 
  .wrapper {
     max-width: $tablet-width; // 768px - 100vw 
      margin: 0 auto;
      padding-left: 0px;
      padding-right: 0px;
  }

  .wrapper-for-bg {
      height: 1165px;
      max-width: $tablet-width;
   }

   .header-wrapper {
      padding-left: 30px;
      padding-right: 30px;
  }
   
  .logo-container {
      padding-right: 0px;
  }

  /* START SCREEN */

  .start-screen-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 99px;
    padding-right: 100px;
  }
  
  .start-screen-content{
    display: flex;
    flex-direction: column;
      padding-top: 0px;
      padding-left: 55px;
      padding-right: 54px;
      // margin-left: 154px;
      // margin-right: 154px;
  }
  
   .start-screen-puppy {
    width: 569px;
     height: 593px;
    margin-left: 70px; // от своего контейнера
    margin-top: 99px; // 100px  не идеально ровно. 
   }

   /*  SECTION ABOUT */

  .about-wrapper {
    flex-direction: column-reverse;
    margin-right: 166px;
  }
  
  .about-pets {
    margin-top: 80px;
    margin-left: 234px;
  }
  
  .content-pets {
    margin-right: 169px;
  }

  
      /* !SECTION OUR PETS */
  
      .heading-our-pets {
      margin-right: 0px;
      margin-left: 0px;
       }
  
      .slider-container {
          .button-arrow-left {
          right: 0px;
          // left: 30px;
          }

          .button-arrow-right {
              left: 0px;
              //right: 30px;
          }
        }
      
      .card-1 {
        margin-right: 40px;
        margin-left: 12px;
      }
      
     .card-2 {
         margin-right: 12px;
     }

      .card-3 {
       display: none; // 3-я карточка не показывается
     }
  
      .button-get-to {
       margin-top: 58px; 
      }
  

          /* SECTION HELP */
          
//           .help-wrapper {
//               background-color: $color-light-xl;
//           }
//           .heading-help {
//       display: flex;
//       text-align: center;
//       margin-right: 445px;
//       margin-left: 445px;
//      margin-top: 80px;
//      color: $color-dark-l;
//               }
  
//               .help-container {
//                   display: flex;
//                   flex-direction: row;
//                   flex-wrap: wrap;
//                   //max-width: 1026px;
//                   margin-left: 87px;
//                   margin-right: 87px;
//                  // padding-right: 120px;
//               //    margin-top: 80px;
//                  margin-bottom: 100px;
//               }
  
//    .help-icon {
//       display: flex;
//       flex-direction: column;
//       flex-wrap: wrap;
//      // max-width: 1026px;
//       margin-top: 60px;
//    }
//   .icon-2 {
//       margin-left: 120px;
//   }
//   .icon-3 {
//       margin-left: 120px;
//   }
//   .icon-4 {
//       margin-left: 120px;
//   }
//   .icon-5 {
//       margin-left: 117px; //неправильные размеры в макете
//       // margin-left: 87px;
//   }
//   .icon-6 {
//       margin-left: 84px;
//       margin-top: 55px;
//   }
//   .icon-7 {
//       margin-left: 120px;
//       margin-top: 55px;
//   }
//   .icon-8 {
//       margin-left: 120px;
//       margin-top: 55px;
//   }
//   .icon-9 {
//       margin-left: 117px; //неправильные размеры в макете
//       margin-top: 55px;
//       margin-right: 84px;
//   }
//   h4 { 
//   font-family: 'Georgia';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 20px;
//   line-height: 115%;
//   // identical to box height, or 23px 
//   letter-spacing: 0.06em;
//   }
//   .icon-name {
//   margin-top: 30px;
//   color: $color-dark-l;   
//   }
  
  
  
//   /* SECTION DONATION */
//   .donation-wrapper {
//       background-color: $color-light-l ;
//   }
//   .donation-container {
//       display: flex;
//   }
  
//   .donation-dog {
//       margin: 89px 30px 110px 141px;  //неправильные размеры в макете
//   }
  
//   .heading-donation {
//       margin-top: 80px;
//       color: $color-dark-l;
//   }
  
//   h5 {
//   font-family: 'Georgia';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 15px;
//   line-height: 110%;
//   // identical to box height, or 17px 
//   letter-spacing: 0.06em;
//   color: $color-dark-l;
//   }
  
//   .subheading-donation {
//       margin-top: 18px; // 20px было по макету 
//   }
  
//   .button-donation {
//   display: flex;
//   width: 349px;
//   height: 43px;
//   background: $color-primary;
//   border-radius: 9px;
//   padding-top: 7px;
//   padding-left: 10px;
//   margin-top: 20px;
//   margin-right: 213px; 
//   border-style: none; 
//   border-style: solid;
//   border-color: $color-primary;
//   cursor: pointer;
//   transition: 1s;
//   &:hover {
//       background-color: $color-primary-light;
//       border-color: $color-primary-light;
//   }
//   }
  
//   .donation-description  {
//       font-family: 'Arial';
//       font-style: italic;
//       font-weight: 400;
//       font-size: 12px;
//       line-height: 18px;
//       // or 150% 
//       color: $color-dark-m;       
//   margin-top: 20px;   
//   margin-right: 182px; 
//   }
  
  
//   /*! FOOTER */
  
//   .footer-wrapper {
//       background: url(../../../assets/img/noise_transparent@2x.png), $color-gradient;
//   }
  
//   .footer-container {
//       display: flex;
//      // margin-top: 40px;
//   }
  
//   .contacts {
//       //display: flex;
//       //flex-direction: column;
//       margin-top: 56px;
//       margin-right: 160px;
//       //text-align: center;
//       color: $color-light-xl;
//   }
  
//   .title-contacts {
//       display: flex;
//   }
  
//   .shelter-mail {
//       display: flex;
//   }
//   .mail-icon {
//       padding-top: 40px;   
//       padding-right: 20px;
//       color: $color-primary;
//   }
  
//   .mail {
//   display: block;
//   color: $color-primary;
//   text-decoration: none;
//   margin-top: 44px;
//   padding-right: 26px;  
//   } 
  
//   .shelter-phone {
//       display: flex;  
//   }
  
//   .phone-icon {
//       padding-top: 40px;   
//       padding-right: 20px;
//       color: $color-primary;
//   }
  
//   .phone {
//       display: block;
//       color: $color-primary;
//       text-decoration: none;
//       margin-top: 44px;
//       margin-right: 38px;
//   }
  
  
//   .locations {
//      // display: flex;
//       margin-top: 56px;
//       margin-right: 160px; 
//      // text-align: center;
//       color: $color-light-xl;
//   }
  
//   .title-locations {
//       display: flex;
//   }
  
//   .shelter-location-1 {
//       display: flex;
//       margin-top: 34px;
//   }
  
//   .location-1 {
//       display: block;
//       color: $color-primary;
//       text-decoration: none;
//       margin-left: 10px;
//   }
//   .location-1-icon {
//       //margin-right: 20px;
//       margin-top: 5px;
//   }
//   .shelter-location-2 {
//       display: flex;
//       margin-top: 35px;
//       margin-right: 31px;
//   }
//   .location-2 {
//       display: block;
//       color: $color-primary;
//       text-decoration: none;
//       margin-left: 20px;
//   }
//   .location-2-icon {
//       //margin-right: 20px;
//       margin-top: -5px;
//   }
//   .footer-puppy { 
//        margin-top: 40px;
//   }
  
 }
