// @media (min-width: 768px) and (max-width: 1279.9px) {
  @media (max-width: 768px) {
  .header {
   padding: 30px 0 0 0;
   }

 
  .wrapper {
     max-width: $tablet-width; // 768px - 100vw 
      margin: 0 auto;
      padding-left: 0px;
      padding-right: 0px;
  }

  .wrapper-for-bg {
      height: 1165px;
      max-width: $tablet-width;
   }

   .header-wrapper {
      padding-left: 30px;
      padding-right: 30px;
  }
   
  .logo-container {
      padding-right: 0px;
  }

  /* START SCREEN */

  .start-screen-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 99px;
    padding-right: 100px;
  }
  
  .start-screen-content{
    display: flex;
    flex-direction: column;
      padding-top: 0px;
      padding-left: 55px;
      padding-right: 54px;
      // margin-left: 154px;
      // margin-right: 154px;
  }
  
   .start-screen-puppy {
    width: 569px;
     height: 593px;
    margin-left: 70px; // от своего контейнера
    margin-top: 99px; // 100px  не идеально ровно. 
   }

   /*  SECTION ABOUT */

  .about-wrapper {
    flex-direction: column-reverse;
    margin-right: 166px;
  }
  
  .about-pets {
    margin-top: 80px;
    margin-left: 234px;
  }
  
  .content-pets {
    margin-right: 169px;
  }

  
      /* !SECTION OUR PETS */
  
      .heading-our-pets {
      margin-right: 0px;
      margin-left: 0px;
       }
  
      .slider-container {
          .button-arrow-left {
          right: 0px;
          // left: 30px;
          }

          .button-arrow-right {
              left: 0px;
              //right: 30px;
          }
        }
      
      .card-1 {
        margin-right: 40px;
        margin-left: 12px;
      }
      
     .card-2 {
         margin-right: 12px;
     }

      .card-3 {
       display: none; // 3-я карточка скрыта
     }
  
      .button-get-to {
       margin-top: 58px; 
      }
  

          /* SECTION HELP */
       
.heading-help {
  margin-right: 161px;
  margin-left: 161px;
}
  
 .help-container {
  margin-left: 69px;
  margin-right: 69px;
  }
  
   .help-icon {
  width: 170px;
  height: 113px;
   }

  .icon-1 {
    margin-left: 0px;
}
  .icon-2 {
      margin-left: 60px;
  }
  .icon-3 {
    margin-left: 60px;
  }
  .icon-4 {
      margin-left: 0px;
      margin-top: 55px;
  }
  .icon-5 {
    margin-left: 60px; 
    margin-top: 55px;
  }
  .icon-6 {
    margin-left: 60px;
  }
  .icon-7 {
    margin-left: 0px;
  }
  .icon-8 {
    margin-left: 60px;
  }
  .icon-9 {
    margin-left: 60px; 
    margin-right: 0px;
  }
 
  /* SECTION DONATION */
 
  .donation-container {
      flex-direction: column-reverse;
  }
  
  .donation-content {
   margin-left: 194px;
}

  .donation-dog {
    margin: 60px 132px 100px 131px; 
  }
  
  .subheading-donation {
      margin-top: 19px; // 20px было по макету 
  }
  
  .button-donation {
   margin-right: 225px; 
  }
  
  .donation-description  {
   margin-right: 194px; 
  }
  
  
//   /*! FOOTER */
  
//   .footer-wrapper {
//       background: url(../../../assets/img/noise_transparent@2x.png), $color-gradient;
//   }
  
//   .footer-container {
//       display: flex;
//      // margin-top: 40px;
//   }
  
//   .contacts {
//       //display: flex;
//       //flex-direction: column;
//       margin-top: 56px;
//       margin-right: 160px;
//       //text-align: center;
//       color: $color-light-xl;
//   }
  
//   .title-contacts {
//       display: flex;
//   }
  
//   .shelter-mail {
//       display: flex;
//   }
//   .mail-icon {
//       padding-top: 40px;   
//       padding-right: 20px;
//       color: $color-primary;
//   }
  
//   .mail {
//   display: block;
//   color: $color-primary;
//   text-decoration: none;
//   margin-top: 44px;
//   padding-right: 26px;  
//   } 
  
//   .shelter-phone {
//       display: flex;  
//   }
  
//   .phone-icon {
//       padding-top: 40px;   
//       padding-right: 20px;
//       color: $color-primary;
//   }
  
//   .phone {
//       display: block;
//       color: $color-primary;
//       text-decoration: none;
//       margin-top: 44px;
//       margin-right: 38px;
//   }
  
  
//   .locations {
//      // display: flex;
//       margin-top: 56px;
//       margin-right: 160px; 
//      // text-align: center;
//       color: $color-light-xl;
//   }
  
//   .title-locations {
//       display: flex;
//   }
  
//   .shelter-location-1 {
//       display: flex;
//       margin-top: 34px;
//   }
  
//   .location-1 {
//       display: block;
//       color: $color-primary;
//       text-decoration: none;
//       margin-left: 10px;
//   }
//   .location-1-icon {
//       //margin-right: 20px;
//       margin-top: 5px;
//   }
//   .shelter-location-2 {
//       display: flex;
//       margin-top: 35px;
//       margin-right: 31px;
//   }
//   .location-2 {
//       display: block;
//       color: $color-primary;
//       text-decoration: none;
//       margin-left: 20px;
//   }
//   .location-2-icon {
//       //margin-right: 20px;
//       margin-top: -5px;
//   }
//   .footer-puppy { 
//        margin-top: 40px;
//   }
  
 }
