@font-face {
  font-family: "Arial";
  src: url("/shelter/assets/fonts/Arial/arial.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url("/shelter/assets/fonts/Georgia/georgia.ttf");
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

.start-screen {
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-repeat: no-repeat;
}

.start-screen-wrapper {
  display: flex;
  padding-top: 60px;
}

.start-screen-content {
  padding-top: 163px;
  padding-right: 42px;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  padding: 60px 0 0 0;
}

.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-container {
  /* padding-top: 5px; */
  display: flex;
  /* flex-wrap: nowrap; */
  flex-direction: column;
  padding-right: 505px;
}

h1 a {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
  color: #F1CDB3;
  list-style: none;
  text-decoration: none;
}

.logo-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  /* color-light-xl */
  color: #FFFFFF;
  padding-top: 8px;
}

.nav-list {
  display: flex;
}

.nav-link-about {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
  /* color-dark-s */
  color: #FAFAFA;
  text-decoration: underline;
}

.nav-item {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  list-style: none;
  text-decoration: none;
  padding-left: 35px;
  /* identical to box height, or 24px */
  /* color-dark-s */
}

li a {
  list-style: none;
  text-decoration: none;
  color: #CDCDCD;
}
li a:hover {
  color: #FAFAFA;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  /* color-light-xl */
  color: #FFFFFF;
}

.heading-start-screen {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #CDCDCD;
  padding-right: 150px;
}

.subheading-start-screen {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #CDCDCD;
  padding-top: 42px;
}

.button-primary {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
  width: 207px;
  height: 52px;
  /* color-primary */
  background: #F1CDB3;
  border-color: #F1CDB3;
  outline: none;
  border-radius: 100px;
  margin-top: 42px;
  border-style: none;
  border-style: solid;
  border-color: #F1CDB3;
  cursor: pointer;
  transition: 1s;
}
.button-primary:hover {
  background: #FAFAFA;
  border-color: #F1CDB3;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 100px;
  /* color-light-xl */
  background: #FFFFFF;
}

.about-pets {
  width: 300px;
  height: 408px;
  margin-left: 175px;
  margin-right: 120px;
}

.content-pets {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  margin-right: 175px;
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.heading-about-pets {
  padding-right: 60px;
}

.subheading-pets1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  /* color-dark-xl */
  color: #4C4C4C;
  padding-top: 25px;
}

.subheading-pets2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  /* color-dark-xl */
  color: #4C4C4C;
  padding-top: 25px;
}

/* !SECTION OUR PETS */
.ourpets-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
  /* color-light-l */
  background: #F6F6F6;
}

.heading-our-pets {
  display: flex;
  text-align: center;
  margin-right: 400px;
  margin-left: 400px;
}

span {
  display: block;
}

.slider-container {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
}
.slider-container .button-arrow-left {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  position: relative;
  top: 192px;
  right: 52px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-container .button-arrow-left:hover {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}
.slider-container .button-arrow-right {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  position: relative;
  top: 192px;
  left: 53px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-container .button-arrow-right:hover {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}

.card-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  margin-right: 90px;
  cursor: pointer;
}
.card-container1:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card-container1:hover .button-learn-more {
  /* card-hover */
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}

.card-container1:hover .card-katrine {
  background-color: #B2B2B2;
}

.card-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  margin-right: 90px;
  cursor: pointer;
}
.card-container2:hover {
  /* card-hover */
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card-container2:hover .button-learn-more {
  background: #F1CDB3;
  border-color: #F1CDB3;
}

.card-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}
.card-container3:hover {
  /* card-hover */
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card-container3:hover .button-learn-more {
  background: #F1CDB3;
  border-color: #F1CDB3;
}

.card-jennifer {
  position: relative;
}

.pets-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button-learn-more {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  background-color: #FAFAFA;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
  outline: none;
  cursor: pointer;
  transition: 1s;
}
.button-learn-more:hover {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}

.button-get-to {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
  width: 261px;
  height: 52px;
  /* color-primary */
  background: #F1CDB3;
  outline: none;
  border-radius: 100px;
  margin-top: 30px;
  cursor: pointer;
  transition: 1s;
  border-style: none;
  border-color: #F1CDB3;
}
.button-get-to:hover {
  background: #FAFAFA;
  border-color: #F1CDB3;
  outline: none;
  border-style: solid;
}

.help-wrapper {
  background-color: #FFFFFF;
}

.heading-help {
  display: flex;
  text-align: center;
  margin-right: 445px;
  margin-left: 445px;
  margin-top: 80px;
}

.help-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 87px;
  margin-right: 87px;
  margin-bottom: 100px;
}

.help-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 60px;
}

.icon-2 {
  margin-left: 120px;
}

.icon-3 {
  margin-left: 120px;
}

.icon-4 {
  margin-left: 120px;
}

.icon-5 {
  margin-left: 117px;
}

.icon-6 {
  margin-left: 84px;
  margin-top: 55px;
}

.icon-7 {
  margin-left: 120px;
  margin-top: 55px;
}

.icon-8 {
  margin-left: 120px;
  margin-top: 55px;
}

.icon-9 {
  margin-left: 117px;
  margin-top: 55px;
  margin-right: 84px;
}

h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.icon-name {
  margin-top: 30px;
}

.donation-container {
  display: flex;
}

.donation-dog {
  margin: 89px 30px 110px 141px;
}

.heading-donation {
  margin-top: 80px;
}

h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.subheading-donation {
  margin-top: 18px;
}

.button-donation {
  display: flex;
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  padding-top: 7px;
  padding-left: 10px;
  margin-top: 20px;
  margin-right: 213px;
  border-style: none;
  border-style: solid;
  border-color: #F1CDB3;
  cursor: pointer;
  transition: 1s;
}

.donation-description {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  /* color-dark-m */
  color: #B2B2B2;
  margin-top: 20px;
  margin-right: 182px;
}/*# sourceMappingURL=style.css.map */